/.gradle/
/configurate-core/build/
/configurate-core/out/
/configurate-ext-kotlin/build/
/configurate-ext-kotlin/out/
/configurate-gson/build/
/configurate-gson/out/
/configurate-hocon/build/
/configurate-hocon/out/
/configurate-jackson/build/
/configurate-jackson/out/
/configurate-tool/build/
/configurate-tool/out/
/configurate-yaml/build/
/configurate-yaml/out/
/configurate-xml/build/
/configurate-xml/out/

target/
# IntelliJ project data
.idea
*.iml
*.ipr
idea/

# Mac stuff
.DS_Store
Thumbs.db
