.gradle/
/*/build/
/*/out/
/*/bin/
/*/.factorypath
/*/.apt_generated/
/*/.apt_generated_tests/
/*/.checkstyle
/*/.settings
build-logic/*/bin/
/build/
/format/*/bin/
/format/*/build/
/format/*/out/
/format/*/.factorypath
/format/*/.apt_generated/
/format/*/.apt_generated_tests/
/format/*/.checkstyle
/format/*/.settings/
/extra/**/build/
/extra/*/out/
/extra/*/bin/
/extra/*/.factorypath
/extra/*/.apt_generated/
/format/*/.apt_generated_tests/
/extra/*/.checkstyle
/extra/*/.settings/

# gitpatcher local data
/vendor/snakeyaml
/vendor/typesafe-config
/vendor/gradle.properties

# IntelliJ project data
.idea
*.iml
*.ipr
idea/
/*/*/src/*/java/generated/
/*/*/src/*/generated/
/*/src/*/java/generated/
/*/src/*/generated/

# Mac stuff
.DS_Store
Thumbs.db
